body{
   margin: 0;
    background-color: rgb(14, 12, 12);
    color: rgb(255, 255, 255);
}
/* Headerstart*/
.hea{
    background-image: linear-gradient( rgb(17, 15, 15), rgba(14, 12, 12, 0.75)),  url('back.jpg');
    background-size: 100% 100%;
    opacity: 4;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.Sign a{
    text-decoration: none;
    color: #fff;
}

.logo{
    background: linear-gradient(black,black );
  position: static;
    margin-left: 200px;
    margin-top: 0px;
    float: left;
    height: 80px;
    width: 200px ;
}
.head2{
    position: relative;
    display: inline-flex;
    margin-top: 0px;
    margin-left: 80%;
    margin-bottom: 40px;
}
.content{ 
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: center;
    margin-left: 200px;
    height: 300px;
    width: 1000px;
}
.content h1{
    font-size: 3.5rem ;
    
}
.content h3{
    font-size: 1rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.content h3 .sec{
 font-size: 1.3rem;
 margin-bottom: 35px;
}
.hea h3{
    margin-bottom: 30px;
}
.email{
    position: relative;
}
.head2 .Sign{
    background-color: red;
    color: #fff;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.Em{
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(51, 44, 44);
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 4px;
    height: 45px;
    width: 400px;
}
.emails{
    border: 1px solid black;
    color: white;
    border-radius: 6px ;
    background-color: red;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
   padding-bottom: 10px;
   padding-top: 0px;
   padding-right: 20px;
    font-weight: 600;
    font-size: 30px;
}
.eng{
    border: 1px solid black ;
    border-radius: 4px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    background-color: rgb(32, 27, 27);
    color: #fff;
    width: 7rem;
    height: 1.8rem;
}
.dropdown{
    margin-top: 0px;
}
.dcontent{
    display: none;
    position: relative;
    color: black;
    background-color: white;
    width: 7rem;
    height: 1.3rem;
}
.dropdown:hover .dcontent{
    display: block;
}
.Sign{
    border: 1px solid black ;
    border-radius: 4px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    height: 1.8rem;
    width: 4.5rem;
   
}
/* Headerfinish*/
/* Midstart*/
.content2{
    margin-top:3rem;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin-left: 7rem;
}
.box1{
font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
border: 2px solid black;
height: 20vh;
width: 1000px;
padding-left: 50px;
padding-top: 20px;
border-radius: 20px;
margin-left: 10px;
margin-bottom: 50px;
background-image: linear-gradient(93deg, #43172b, #230a25);
transition: transform .9s;
overflow: hidden;
}
.box1 h1{
    margin-top: 40px;
    line-height: .5px;
    font-size: 2rem;
}
.box1 h3{
    color: rgb(51, 49, 49);
    font-size: 1.3rem;
}
.box1:hover{
 background-image: linear-gradient(93deg, #661d3e, #280a2b);
 height: 20.5vh;
 width: 1010px;
 transform: translateY(-10px);
 overflow: hidden;
 position: relative;

}
/*Moviesstart*/
.headings{
    font-size: .7rem;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 500;
}
.trend button{
    color: #fff;
    padding: 0;
    border: .5px solid rgb(248, 246, 246);
    border-radius: 4px;
    background-color: rgb(37, 34, 34);
    height: 2rem;
    width: 7rem ;
    font-size: 16px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    font-weight: 500;
    margin-right: 10px;
}
.movies{
   align-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.movies img{
    width: 30vh;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 40vh;
    transition: .6s;
}
.movies img:hover{
transform: translateY(-20px);
}
/*Moviesfinish*/
/*Membership*/
.box2{
font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
border: 2px solid black;
height: 60vh;
width: 1000px;
padding-left: 40px;
border-radius: 20px;
margin-bottom: 50px;
background-image: linear-gradient(93deg, #43172b, #230a25);
transition: transform .9s;
overflow: hidden;
}
.box2 h1{
    margin-top: 120px;
    font-size: 1rem;
}
.box2 h3{
    margin-right: 5px;
    font-size: 1rem ;
    font-weight: 500;
    color: rgb(95, 90, 90);
}
.box3 img{
    float: right;
    padding-top: 33vh;
    padding-right: 5px;
    width: 60px;
    height: 40px;

}
.box2 img{
    padding-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0;
    float: right;
    height: 60vh;
    width: 500px;
}
.boxes{
 
    flex-wrap: wrap;
    display: inline;
    max-width: 1200px;
}
.boxes .box3{
    flex-basis: 0;
    padding: 20px;
    display: inline-flex;
    margin-right: 10px;
    height: 250px;
    width: 200px;
    border-radius: 2rem;
     overflow: hidden;
    background-image: linear-gradient(149deg, #212b57, #2c141f);
}
.box3 h1{
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 30px;
}
/*Dropdownstart*/
.Question{
    margin-top: 0;
    max-width: 1080px;
    height: auto;
    display: inline-block;
    align-items: center;
}
.box4{
  
    background-color: rgb(53, 49, 49);
    text-align: left;
    color: #fff;
    border: 1px solid black;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    height: 11vh;
    font-size: 25px;
    width: 1070px;
    padding-left: 40px;
    padding-right: 650px;
    font-weight: 600;
}
.drop2{
    overflow: hidden;
    margin-bottom: 10px;
}
 .dcontent1{
  font-size: 25px;
  padding-top: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top: 0;
    display: none;
    width: 1000px;
    height: auto;
    background-color:  rgb(53, 49, 49);
    margin-bottom: 10px;
}
 .drop2:hover .dcontent1
{
    display: block;
}

.headi{
    position: relative;
    margin-bottom: 0;
    margin-top: 4rem;
    font-size: 15px;
    margin-left: 7rem;
}
.Em1{
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(43, 37, 37);
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 4px;
    height: 45px;
    width: 900px;
    color: #fff;
}
/*Dropdownfinish*/
/*Footerstart*/
footer{
    margin-top: 30px;
    margin-left: 5rem;
}
footer .footer-cols{
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(4,1fr);
    text-align: left;
    font-size: 17px;
}
footer .footer-cols ul  {
    list-style: none;
}
.footer-cols a{
    color: #9e9393;
}
.footer-cols ul li{
    margin-bottom: 10px;
}
.footer-bottom{
    background-color: rgb(68, 65, 65);
    padding: .5rem;
    text-align: center;
}
.content3{
    margin-left: 4rem;
}
.content3 h4{
    font-size: 15px;
    color: #d3cccc;
}
.footer-bottom{
    background-color: rgb(14, 12, 12);
    padding: .5rem;
    text-align: center;
}
/*Footerfinish*/